Repository tinyspeck/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @rohit-nayak-ps, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtadmin @ajm188 @doeg
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps

Add steadystate benchmarks
  go/vt/vttablet/grpctmclient/cached_client_test.go
Owners: @sougou

wip
  go/vt/vttablet/grpctmclient/cached_client_test.go
Owners: @sougou

grpctmclient: simplify locking & queuing
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

Add missing connwaitsema release on a not-actually-new newdial
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

Move actual Dial into lock critical section to reduce connection churn
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

Add linearity optimization
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

Move actual Dial into lock critical section to reduce connection churn
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

Add eviction optimization
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

xxx
  doc/vtadmin/1.2-vtadmin-web.png
  doc/vtadmin/VTAdminDevGuide.md
Owners: @sougou

Merge pull request #8199 from tinyspeck/am_jaeger_sampler_configs
  go/cmd/vtadmin/main.go
  go/flagutil/optional.go
  go/trace/plugin_datadog.go
  go/trace/plugin_jaeger.go
Owners: @ajm188, @doeg, @sougou

Merge pull request #8402 from tinyspeck/am_vtctld_backup_detail_fix
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @doeg

Merge pull request #8368 from tinyspeck/am_cached_grpctmclient_conns
  go/vt/grpcclient/client.go
  go/vt/vttablet/grpctmclient/cached_client.go
  go/vt/vttablet/grpctmclient/cached_client_test.go
  go/vt/vttablet/grpctmclient/client.go
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/grpctmserver/server_test.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Owners: @sougou

Merge pull request #8134 from guidoiaquinti/GenerateShardRanges
  go/vt/key/key.go
  go/vt/key/key_test.go
  go/vt/vtctl/vtctl.go
  go/vt/vtctl/vtctl_test.go
Owners: @sougou, @ajm188, @doeg, @deepthi

[grpcvtctldclient] Add connectivity check to Dial function
  go/vt/vtctl/grpcvtctldclient/client.go
  go/vt/vtctl/vtctldclient/client.go
Owners: @ajm188, @doeg

[vtadmin-api] Add vtctld WaitForReady checks
  go/vt/vtadmin/vtctldclient/proxy.go
Owners: @ajm188, @doeg

:skull:
  go/vt/vtadmin/cluster/discovery/fakediscovery/discovery.go
  go/vt/vtadmin/vtctldclient/proxy.go
  go/vt/vtadmin/vtctldclient/proxy_test.go
Owners: @ajm188, @doeg

Add a test for RemoveVctlds in fakediscovery
  go/vt/vtadmin/cluster/discovery/fakediscovery/discovery_test.go
Owners: @ajm188, @doeg

ugh
  go/vt/vtadmin/vtctldclient/proxy_test.go
Owners: @ajm188, @doeg
