Repository tinyspeck/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @rohit-nayak-ps, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtadmin @ajm188 @doeg
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps

xxx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

tighten up navrail whitespace
  web/vtadmin/src/components/App.module.scss
  web/vtadmin/src/components/NavRail.module.scss
Owners: @ajm188, @doeg

smaller
  web/vtadmin/src/components/NavRail.module.scss
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/workflows.ts
Owners: @ajm188, @doeg

hmm
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
Owners: @ajm188, @doeg

no animation
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
Owners: @ajm188, @doeg

don't animate for real
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
Owners: @ajm188, @doeg

full-screen button
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/Button.tsx
  web/vtadmin/src/components/ButtonDropdown.module.scss
  web/vtadmin/src/components/ButtonDropdown.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
Owners: @ajm188, @doeg

swappy
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

Add metadata to tablet
  go/vt/proto/vtadmin/vtadmin.pb.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @ajm188, @doeg

Add quick metadata plugin integration for api.GetTablet
  go/cmd/vtadmin/main.go
  go/vt/vtadmin/api.go
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/config.go
Owners: @ajm188, @doeg

docker/lite/install_dependencies.sh: If the dependency install loop reaches its max number of retries, consider that a failure; exit the script nonzero so the build halts.
  docker/lite/install_dependencies.sh
Owners: @derekperkins, @dkhenry

Improved VDiff missmatch reports
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/vdiff.go
  go/vt/wrangler/vdiff_test.go
Owners: @ajm188, @doeg, @deepthi, @rohit-nayak-ps

xxx
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/routes/keyspace/Keyspace.module.scss
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/components/tabs/Tab.module.scss
  web/vtadmin/src/components/tabs/Tab.tsx
  web/vtadmin/src/components/tabs/TabContainer.module.scss
  web/vtadmin/src/components/tabs/TabContainer.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceSchemas.tsx
Owners: @ajm188, @doeg

link
  web/vtadmin/src/components/routes/Keyspaces.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceSchemas.tsx
Owners: @ajm188, @doeg

Added ReshardWorkflow vschema validation
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/vtctld.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/schema_test.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
Owners: @ajm188, @doeg, @sougou, @deepthi, @rohit-nayak-ps

added ValidateVSchema and ValidateVSchemaKeyspace
  go/vt/vtctl/vtctl.go
  go/vt/vtctld/vtctld.go
  go/vt/wrangler/schema.go
  go/vt/wrangler/schema_test.go
  go/vt/wrangler/workflow.go
  go/vt/wrangler/workflow_test.go
Owners: @ajm188, @doeg, @sougou, @deepthi, @rohit-nayak-ps

add command line option to return error when WaitForTablets times out. defaults to false and adds tests along with a mock
  go/vt/vtgate/gateway.go
  go/vt/vtgate/gateway_test.go
  go/vt/vtgate/mock_gateway.go
Owners: @harshit-gangal, @systay

Revert "backup: Use pargzip instead of pgzip for compression."
  go.mod
  go.sum
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/xtrabackupengine.go
Owners: @sougou, @deepthi

checkpoint
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/charts/StreamVRepLagSparkline.module.scss
  web/vtadmin/src/components/charts/StreamVRepLagSparkline.tsx
  web/vtadmin/src/components/routes/Workflow.tsx
  web/vtadmin/src/util/workflows.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamVRepLagSparkline.tsx
  web/vtadmin/src/components/routes/Stream.tsx
  web/vtadmin/src/components/routes/Workflow.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamVRepLagSparkline.tsx
Owners: @ajm188, @doeg

i hate it
  web/vtadmin/src/components/charts/StreamVRepLagSparkline.tsx
  web/vtadmin/src/components/routes/Stream.tsx
  web/vtadmin/src/components/routes/Workflow.tsx
  web/vtadmin/src/util/workflows.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/charts/StreamVRepLagChart.tsx
  web/vtadmin/src/components/routes/Stream.tsx
  web/vtadmin/src/components/routes/Workflow.tsx
  web/vtadmin/src/util/workflows.ts
Owners: @ajm188, @doeg

i hate it
  web/vtadmin/src/components/charts/StreamVRepLagChart.tsx
  web/vtadmin/src/components/routes/Workflow.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamVRepLagChart.tsx
Owners: @ajm188, @doeg

yyy
  web/vtadmin/src/components/charts/StreamVRepLagChart.tsx
Owners: @ajm188, @doeg

no table
  web/vtadmin/src/components/charts/StreamVRepLagChart.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/api/httpTypes.ts
  web/vtadmin/src/index.tsx
  web/vtadmin/src/react-app-env.d.ts
  web/vtadmin/src/util/errorHandler.ts
Owners: @ajm188, @doeg

[vtadmin-web] Add Highcharts
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Owners: @ajm188, @doeg

checkpoint
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/components/charts/options.ts
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/tabs/Tab.tsx
  web/vtadmin/src/index.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/util/timeseries.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/options.ts
  web/vtadmin/src/components/routes/Workflows.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowTablets.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowTablets.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/options.ts
  web/vtadmin/src/index.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/TabletVRepQPSChart.tsx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowTablets.tsx
  web/vtadmin/src/util/timeseries.ts
Owners: @ajm188, @doeg
