Repository tinyspeck/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @rohit-nayak-ps, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi

Change name to be less confusing
  go/vt/key/key.go
Owners: @sougou

Add getbackups protos and generate
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @ajm188, @doeg

[protutil] Add conversion functions to/from `vttime.Time`/`time.Time`
  go/protoutil/time.go
Owners: @sougou

[vtadmin-api] Add initial GetBackups implementation
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @doeg

[vtadmin-api] Add http wrapper
  go/vt/vtadmin/api.go
  go/vt/vtadmin/http/backups.go
Owners: @ajm188, @doeg

fixup! [vtadmin-api] Add initial GetBackups implementation
  go/vt/vtadmin/api.go
Owners: @ajm188, @doeg

[vtadmin-api] First iteration defining the external BackupValidator interface
  go/vt/vtadmin/cluster/backup_validator.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/cluster/config.go
  go/vt/vtadmin/cluster/flags.go
  go/vt/vtadmin/cluster/plugin.go
Owners: @ajm188, @doeg

fixup! Add getbackups protos and generate
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @ajm188, @doeg

prototype
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/routes/backups/Backups.module.scss
  web/vtadmin/src/components/routes/backups/Backups.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/backups.ts
  web/vtadmin/src/util/time.ts
Owners: @ajm188, @doeg

fixup! [vtadmin-api] Add initial GetBackups implementation
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
Owners: @ajm188, @doeg

fixup! [vtadmin-api] First iteration defining the external BackupValidator interface
  go/vt/vtadmin/cluster/backup_validator.go
Owners: @ajm188, @doeg

[vtadmin-web] Add Backups view
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/NavRail.tsx
  web/vtadmin/src/components/pips/BackupStatusPip.tsx
  web/vtadmin/src/components/routes/backups/Backups.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/backups.ts
  web/vtadmin/src/util/time.ts
Owners: @ajm188, @doeg

Add react-table
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
Owners: @ajm188, @doeg

experiments
  web/vtadmin/src/components/dataTable/DataHeader.module.scss
  web/vtadmin/src/components/dataTable/DataHeader.tsx
  web/vtadmin/src/components/dataTable/DataTable2.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/types/react-table-config.d.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/dataTable/DataHeader.tsx
  web/vtadmin/src/components/dataTable/DataTable2.tsx
Owners: @ajm188, @doeg

more
  web/vtadmin/src/components/dataTable/DataTable2.tsx
  web/vtadmin/src/components/routes/Schemas.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/dataTable/DataTable2.tsx
  web/vtadmin/src/components/routes/Schemas.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamsLagChart.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/tabletDebugVars.ts
  web/vtadmin/src/util/workflows.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamsLagChart.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamsLagChart.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamsLagChart.tsx
Owners: @ajm188, @doeg

Merge pull request #8261 from tinyspeck/am_vreplication_log
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/vexec/query_plan.go
  go/vt/vtctl/workflow/vexec/query_plan_test.go
  go/vt/vtctl/workflow/vexec/query_planner.go
  go/vt/vtctl/workflow/vexec/query_planner_test.go
  go/vt/vtctl/workflow/vexec/vexec.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @sougou, @deepthi, @ajm188, @doeg

[vexec] Backport fix for typechange in sqlparser
  go/vt/vtctl/workflow/vexec/query_planner.go
Owners: @deepthi

Restore `grpcvtctldserver` tests
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/proto_compare.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/grpcvtctldserver/testutil/util.go
Owners: @ajm188, @doeg

Merge pull request #8221 from tinyspeck/sarabee-vtctld-getsrvvschemas
  go/cmd/vtctldclient/internal/command/serving_graph.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou

Merge pull request #8321 from tinyspeck/am_additional_backup_info
  go/cmd/vtctldclient/internal/command/backups.go
  go/protoutil/time.go
  go/protoutil/time_test.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/mysqlctlproto/backup.go
  go/vt/mysqlctl/mysqlctlproto/backup_test.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/mysqlctl.proto
  proto/vtctldata.proto
Owners: @ajm188, @doeg, @sougou, @deepthi

[mysqlctl] WIP: EDIT THIS MESSAGE WITH MORE DETAILS Update BackupHandle/BackupEngine interfaces to support populating BackupInfo.Status
  go/vt/mysqlctl/azblobbackupstorage/azblob.go
  go/vt/mysqlctl/backup.go
  go/vt/mysqlctl/backupengine.go
  go/vt/mysqlctl/backupstorage/interface.go
  go/vt/mysqlctl/builtinbackupengine.go
  go/vt/mysqlctl/cephbackupstorage/ceph.go
  go/vt/mysqlctl/filebackupstorage/file.go
  go/vt/mysqlctl/gcsbackupstorage/gcs.go
  go/vt/mysqlctl/s3backupstorage/s3.go
  go/vt/mysqlctl/xtrabackupengine.go
Owners: @deepthi

[vtctldserver] Extend GetBackups to fetch detailed backup info
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @doeg

[vtctldclient] Extend GetBackups CLI to support detail-related options
  go/cmd/vtctldclient/internal/command/backups.go
Owners: @ajm188, @doeg

Merge pull request #8272 from tinyspeck/am_vtctld_concurrent_scanworkflow
  go/vt/vtctl/workflow/server.go
Owners: @deepthi

Add a sema to bound the number of inflight vexec queries when getting workflows
  go/vt/vtctl/workflow/server.go
Owners: @deepthi

[grpctmclient] Rewrite to move dialing logic to an interface
  go/vt/vttablet/grpctmclient/client.go
Owners: @sougou

[grpctmclient] Add a cachedClient dialer implementation
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

[tmserver] Restructure tests
  go/vt/vttablet/grpctmserver/server.go
  go/vt/vttablet/grpctmserver/server_test.go
  go/vt/vttablet/tmrpctest/test_tm_rpc.go
Owners: @sougou

[grpctmclient] Sweep refactor, attempt to free a pool slot if we don't have one when dialing
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

[grpctmclient] Make cached dialer configurable, the factory uses the defaults
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

Add a janitor, switch to using rw mutexes
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

[grpctmclient] Replace signal channel with sema
  go/vt/vttablet/grpctmclient/cached_client.go
Owners: @sougou

Add some quick tests to validate
  go/vt/vttablet/grpctmclient/cached_client_test.go
Owners: @sougou

thread pool sema through to the actual point where we scatter
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/vexec/query_plan.go
  go/vt/vtctl/workflow/vexec/query_planner.go
  go/vt/vtctl/workflow/vexec/query_planner_test.go
  go/vt/vtctl/workflow/vexec/vexec.go
  go/vt/wrangler/vexec.go
Owners: @deepthi, @rohit-nayak-ps

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtadmin @ajm188 @doeg
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps
