Repository tinyspeck/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @rohit-nayak-ps, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtadmin @ajm188 @doeg
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps

update comments and minor code cleanup
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

Insert multiple batches concurrently in the copy phase. Related metrics and flags.
  go.mod
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/binlog/binlogplayer/dbclient.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  go/vt/wrangler/vdiff.go
Owners: @sougou, @rohit-nayak-ps, @deepthi

We still don't have a throottler in our branch. Solve conflict by removing this code
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
Owners: @rohit-nayak-ps

xxx
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/routes/Keyspace.module.scss
  web/vtadmin/src/components/routes/Keyspace.tsx
  web/vtadmin/src/components/routes/Keyspaces.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceSchemas.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceVSchema.tsx
  web/vtadmin/src/components/tabs/Tab.module.scss
  web/vtadmin/src/components/tabs/Tab.tsx
  web/vtadmin/src/components/tabs/TabList.module.scss
  web/vtadmin/src/components/tabs/TabList.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/Keyspace.tsx
  web/vtadmin/src/hooks/api.ts
Owners: @ajm188, @doeg

yyy
  web/vtadmin/src/components/routes/Keyspace.module.scss
  web/vtadmin/src/components/routes/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.module.scss
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.module.scss
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
Owners: @ajm188, @doeg

x
  web/vtadmin/src/components/routes/Keyspace.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/routes/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceVSchema.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/keyspace/KeyspaceShards.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceWorkflows.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceSchemas.tsx
Owners: @ajm188, @doeg

nit
  web/vtadmin/src/components/routes/Keyspace.tsx
Owners: @ajm188, @doeg

A hasty patch for VReplicationExec to read from the vreplication_log table
  go/vt/vttablet/tabletmanager/vreplication/controller_plan.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
Owners: @rohit-nayak-ps

Optimize the catchup phases by filtering out out-of-range pks during inserts
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Owners: @sougou, @rohit-nayak-ps

fix failing tests
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @rohit-nayak-ps

Put the optimize insert behind an experimental flag
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

Expect noop inserts by default since experimental flags are off
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @rohit-nayak-ps

fixes due to conflicts
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

update comments and minor code cleanup
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

Tests
  go/mysql/streaming_query.go
Owners: @harshit-gangal, @systay

ok
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/routes/Gates.tsx
  web/vtadmin/src/components/routes/Keyspaces.tsx
  web/vtadmin/src/components/routes/Schema.tsx
  web/vtadmin/src/components/routes/Schemas.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/components/routes/keyspace/Keyspace.module.scss
  web/vtadmin/src/components/routes/keyspace/Keyspace.tsx
  web/vtadmin/src/components/routes/keyspace/KeyspaceLink.tsx
  web/vtadmin/src/hooks/api.ts
Owners: @ajm188, @doeg

Test not flushing binlogs
  go/vt/mysqlctl/reparent.go
Owners: @deepthi

Pad binlog values for binary() columns to match the value returned by a select query. This also ensures that if such columns are used as sharding keys we get the same keyspace_id
  go/test/endtoend/vreplication/config.go
  go/test/endtoend/vreplication/helper.go
  go/test/endtoend/vreplication/unsharded_init_data.sql
  go/test/endtoend/vreplication/vreplication_test.go
  go/test/endtoend/vreplication/vreplication_test_env.go
  go/vt/vttablet/tabletserver/vstreamer/planbuilder.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer.go
Owners: @sougou, @harshit-gangal, @systay, @shlomi-noach

cleanup
  go/vt/vttablet/tabletmanager/vreplication/vdiff.go
Owners: @rohit-nayak-ps

add mostly working version of vdiff in tablets
  go/vt/vttablet/tabletmanager/vreplication/vdiff.go
Owners: @rohit-nayak-ps

Extract `DeleteShard` wrangler logic to `topotools`
  go/vt/topotools/shard.go
  go/vt/wrangler/shard.go
Owners: @sougou, @deepthi, @rohit-nayak-ps

xxx
  web/vtadmin/src/components/App.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/tabs/Tab.module.scss
  web/vtadmin/src/components/tabs/Tab.tsx
  web/vtadmin/src/components/tabs/TabContainer.module.scss
  web/vtadmin/src/components/tabs/TabContainer.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

hmmm
  web/vtadmin/src/components/App.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

x
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

ugh
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

hmmMM
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
Owners: @ajm188, @doeg

xyz
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
Owners: @ajm188, @doeg

xxxxx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreamDetails.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/Workflow.module.scss
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/tabs/Tab.module.scss
  web/vtadmin/src/components/tabs/TabContainer.module.scss
  web/vtadmin/src/util/time.ts
Owners: @ajm188, @doeg

nits
  web/vtadmin/src/index.css
Owners: @ajm188, @doeg

hmm
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/tabs/Tab.module.scss
Owners: @ajm188, @doeg
