Repository tinyspeck/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @rohit-nayak-ps, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi

[vtctldclient] First pass at custom help templates to group commands
  go/cmd/vtctldclient/internal/command/reparents.go
  go/cmd/vtctldclient/internal/command/root.go
Owners: @ajm188, @doeg

more test
  go/vt/vtadmin/api_test.go
  go/vt/vtadmin/testutil/proto_compare.go
Owners: @ajm188, @doeg

more tests
  go/vt/vtadmin/api_test.go
Owners: @ajm188, @doeg

a test
  go/vt/vtadmin/api_test.go
Owners: @ajm188, @doeg

more test
  go/vt/vtadmin/api_test.go
Owners: @ajm188, @doeg

xxx
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_grpc.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  proto/vtadmin.proto
Owners: @ajm188, @doeg

xxx
  go/vt/vtadmin/api.go
  go/vt/vtadmin/cluster/cluster.go
  go/vt/vtadmin/http/srvvschemas.go
Owners: @ajm188, @doeg

prettier
  go/vt/proto/vtadmin/vtadmin.pb.go
  go/vt/proto/vtadmin/vtadmin_vtproto.pb.go
  go/vt/vtadmin/api.go
  proto/vtadmin.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @ajm188, @doeg

xxx
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/tablets.ts
Owners: @ajm188, @doeg

ok for now
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/__snapshots__/tabletDebugVars.test.ts.snap
  web/vtadmin/src/util/tabletDebugVars.test.ts
  web/vtadmin/src/util/tabletDebugVars.ts
  web/vtadmin/src/util/tablets.ts
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/charts/chartOptions.ts
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/tablet/TabletCharts.module.scss
  web/vtadmin/src/components/routes/tablet/TabletCharts.tsx
  web/vtadmin/src/index.tsx
  web/vtadmin/src/util/tabletDebugVars.ts
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/charts/Timeseries.tsx
  web/vtadmin/src/components/charts/chartOptions.ts
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/components/routes/tablet/TabletCharts.module.scss
  web/vtadmin/src/components/routes/tablet/TabletCharts.tsx
  web/vtadmin/src/util/tabletDebugVars.ts
Owners: @ajm188, @doeg

fix tests
  web/vtadmin/src/util/__snapshots__/tabletDebugVars.test.ts.snap
  web/vtadmin/src/util/tabletDebugVars.test.ts
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/charts.scss
Owners: @ajm188, @doeg

fix tests
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/util/__snapshots__/tabletDebugVars.test.ts.snap
  web/vtadmin/src/util/tabletDebugVars.test.ts
  web/vtadmin/src/util/tabletDebugVars.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/util/tabletDebugVars.ts
Owners: @ajm188, @doeg

x
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/charts/chartOptions.ts
  web/vtadmin/src/util/tabletDebugVars.ts
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/util/tabletDebugVars.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
Owners: @ajm188, @doeg

nits
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
Owners: @ajm188, @doeg

pretty
  web/vtadmin/src/components/charts/Timeseries.tsx
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/index.tsx
Owners: @ajm188, @doeg

prettier
  web/vtadmin/src/components/charts/charts.scss
Owners: @ajm188, @doeg

bikeshedding myself
  web/vtadmin/src/components/charts/Timeseries.tsx
  web/vtadmin/src/components/charts/charts.scss
Owners: @ajm188, @doeg

more
  web/vtadmin/src/components/charts/charts.scss
Owners: @ajm188, @doeg

nits
  web/vtadmin/src/components/charts/Timeseries.tsx
  web/vtadmin/src/components/charts/chartOptions.ts
  web/vtadmin/src/components/routes/tablet/TabletCharts.module.scss
Owners: @ajm188, @doeg

Add support for querying _vt.vreplication_log in vexec
  go/vt/vtctl/workflow/vexec/vexec.go
Owners: @deepthi

Add Stream_Log to workflow protos
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @sougou, @ajm188, @doeg

Implement QueryPlanner for `vreplication_log` table queries
  go/vt/vtctl/workflow/vexec/query_planner.go
  go/vt/vtctl/workflow/vexec/query_planner_test.go
Owners: @deepthi

Promote `vexec.QueryPlan` to an interface
  go/vt/vtctl/workflow/vexec/query_plan.go
  go/vt/vtctl/workflow/vexec/query_plan_test.go
  go/vt/vtctl/workflow/vexec/query_planner.go
  go/vt/vtctl/workflow/vexec/query_planner_test.go
Owners: @deepthi

Add FixedQueryPlan implementation of QueryPlan
  go/vt/vtctl/workflow/vexec/query_plan.go
Owners: @deepthi

[workflow] Optionally fetch all vreplication_logs for each stream
  go/vt/vtctl/workflow/server.go
Owners: @deepthi

loading
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/charts/Timeseries.tsx
Owners: @ajm188, @doeg

lil nits
  web/vtadmin/src/components/charts/charts.scss
Owners: @ajm188, @doeg

nits
  web/vtadmin/src/util/__snapshots__/tabletDebugVars.test.ts.snap
  web/vtadmin/src/util/tabletDebugVars.test.ts
Owners: @ajm188, @doeg

Bump golangci-lint version
  .github/workflows/golangci-linter.yml
  .golangci.yml
Owners: @sougou

Fix errchecks in a few places
  go/cache/ristretto/bloom/bbloom_test.go
  go/streamlog/streamlog.go
  go/streamlog/streamlog_flaky_test.go
  go/vt/binlog/tables_filter_test.go
  go/vt/dbconfigs/dbconfigs_test.go
  go/vt/vtadmin/cluster/cluster_test.go
  go/vt/vtgate/engine/set.go
  go/vt/vttablet/queryservice/fakes/stream_health_query_service.go
  go/vt/vttablet/tabletmanager/rpc_query.go
  go/vt/vttablet/tabletmanager/rpc_schema.go
Owners: @sougou, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi, @shlomi-noach

Add `errcheck` to golangci-lint
  .golangci.yml
  misc/errcheck_excludes.txt
Owners: @sougou

[rulesctl] Restructure `List` command to make nil check meaningful
  go/cmd/rulesctl/cmd/list.go
Owners: @sougou

[orchestrator] correctly check against `m == nil`, remove unneeded nolint directives
  go/vt/orchestrator/collection/collection.go
Owners: @deepthi, @shlomi-noach

fix a bunch of linter errors that are now firing
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/discovery/tablet_health.go
  go/vt/orchestrator/collection/collection.go
  go/vt/vtgate/executor.go
  go/vt/vtgate/plan_execute.go
  go/vt/vtgate/plugin_mysql_server.go
  go/vt/vtgate/scatter_conn.go
  go/vt/vttablet/tabletserver/vstreamer/vstreamer_test.go
Owners: @sougou, @deepthi, @shlomi-noach, @harshit-gangal, @systay

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtadmin @ajm188 @doeg
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps
