Repository tinyspeck/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @rohit-nayak-ps, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi

Merge pull request #7302 from tinyspeck/am_vtctld_cell_getters
  go/cmd/vtctldclient/commands.go
  go/cmd/vtctldclient/json.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou

Fix missing import
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @doeg

test
  go/vt/vttablet/tabletmanager/vreplication/vdiff.go
Owners: @rohit-nayak-ps

Merge pull request #7302 from tinyspeck/am_vtctld_cell_getters
  go/cmd/vtctldclient/commands.go
  go/cmd/vtctldclient/json.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou

Merge pull request #7311 from tinyspeck/am_vtctld_tablet_getters
  go/cmd/vtctldclient/commands.go
  go/cmd/vtctldclient/formats.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/util.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou

Merge pull request #7321 from tinyspeck/am_vtctldclient_command_pkg
  go/cmd/vtctldclient/cli/awk.go
  go/cmd/vtctldclient/cli/json.go
  go/cmd/vtctldclient/commands.go
  go/cmd/vtctldclient/internal/command/cells.go
  go/cmd/vtctldclient/internal/command/doc.go
  go/cmd/vtctldclient/internal/command/keyspaces.go
  go/cmd/vtctldclient/internal/command/root.go
  go/cmd/vtctldclient/internal/command/tablets.go
  go/cmd/vtctldclient/main.go
Owners: @ajm188, @doeg

Merge pull request #7334 from tinyspeck/am_vtctld_getsrvvschema
  go/cmd/vtctldclient/internal/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou

Merge pull request #7346 from tinyspeck/am_vtctld_getschema
  go/cmd/vtctldclient/internal/command/schema.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtadmin/api_test.go
  go/vt/vtctl/endtoend/get_schema_test.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldclient/client_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou, @deepthi

Merge pull request #7352 from tinyspeck/am_vtctld_listbackups
  go/cmd/vtctldclient/internal/command/backups.go
  go/vt/mysqlctl/mysqlctlproto/backup.go
  go/vt/mysqlctl/mysqlctlproto/doc.go
  go/vt/proto/mysqlctl/mysqlctl.pb.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_backupstorage.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  proto/mysqlctl.proto
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @deepthi, @sougou

Merge pull request #7360 from tinyspeck/am_vtctld_getvschema
  go/cmd/vtctldclient/internal/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou

Merge pull request #7395 from tinyspeck/am_vtctld_manage_topo
  go/cmd/vtctldclient/cli/awk.go
  go/cmd/vtctldclient/cli/pflag.go
  go/cmd/vtctldclient/cli/shards.go
  go/cmd/vtctldclient/cli/tablets.go
  go/cmd/vtctldclient/internal/command/keyspaces.go
  go/cmd/vtctldclient/internal/command/shards.go
  go/cmd/vtctldclient/internal/command/tablets.go
  go/vt/key/key.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/topo/tablet.go
  go/vt/topo/topoproto/keyspace.go
  go/vt/topotools/tablet.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/proto_compare.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/grpcvtctldserver/testutil/util.go
  go/vt/vtctl/grpcvtctldserver/topo.go
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/tablet.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
Owners: @ajm188, @doeg, @sougou, @deepthi, @rohit-nayak-ps

Merge pull request #7404 from tinyspeck/am_vtctldclient_silence_errors
  go/cmd/vtctldclient/internal/command/root.go
Owners: @ajm188, @doeg

Merge pull request #7518 from tinyspeck/am_testtmclient_refactor
  go/vt/vtadmin/api_test.go
  go/vt/vtctl/endtoend/get_schema_test.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
Owners: @ajm188, @doeg, @deepthi

Merge pull request #7451 from tinyspeck/am_vtctldclient_errors
  go/cmd/vtctldclient/cli/cobra.go
  go/cmd/vtctldclient/internal/command/backups.go
  go/cmd/vtctldclient/internal/command/cells.go
  go/cmd/vtctldclient/internal/command/doc.go
  go/cmd/vtctldclient/internal/command/keyspaces.go
  go/cmd/vtctldclient/internal/command/schema.go
  go/cmd/vtctldclient/internal/command/shards.go
  go/cmd/vtctldclient/internal/command/tablets.go
  go/cmd/vtctldclient/internal/command/vschemas.go
Owners: @ajm188, @doeg

Merge pull request #7575 from tinyspeck/am_vtctld_workflows
  go/cmd/vtctldclient/internal/command/workflows.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vttime/vttime.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldclient/client_test.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/workflow/doc.go
  go/vt/vtctl/workflow/server.go
  go/vt/vtctl/workflow/vexec/query_plan.go
  go/vt/vtctl/workflow/vexec/query_plan_test.go
  go/vt/vtctl/workflow/vexec/query_planner.go
  go/vt/vtctl/workflow/vexec/query_planner_test.go
  go/vt/vtctl/workflow/vexec/testutil/query.go
  go/vt/vtctl/workflow/vexec/vexec.go
  go/vt/wrangler/vexec.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  proto/vttime.proto
Owners: @ajm188, @doeg, @sougou, @deepthi, @rohit-nayak-ps

Merge pull request #7680 from tinyspeck/am_vtctld_srvkeyspace
  go/cmd/vtctldclient/internal/command/serving_graph.go
  go/cmd/vtctldclient/internal/command/vschemas.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/grpcvtctldserver/testutil/srv_keyspace.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @ajm188, @doeg, @sougou

Merge pull request #7690 from tinyspeck/am_vtctld_shard_replication_positions
  go/cmd/vtctldclient/cli/shards.go
  go/cmd/vtctldclient/internal/command/shards.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/testutil/test_tmclient.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @ajm188, @doeg, @sougou

Merge pull request #7715 from tinyspeck/am_listtablets_timeouts
  go/cmd/vtctldclient/internal/command/tablets.go
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/topo/errors.go
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
  go/vt/vtctl/vtctl.go
  proto/vtctldata.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @ajm188, @doeg, @sougou

some updates
  go/cmd/vttablet/vttablet.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/vdiff.go
Owners: @sougou, @rohit-nayak-ps

hacking
  go/vt/vttablet/tabletmanager/vreplication/vdiff.go
Owners: @rohit-nayak-ps

working version mostly
  go/vt/vttablet/tabletmanager/tm_state.go
  go/vt/vttablet/tabletmanager/vreplication/controller.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/vdiff.go
Owners: @deepthi, @shlomi-noach, @rohit-nayak-ps

[vtadmin-web] Add useSyncedURLParam hook + use from Schemas/Tablets views
  web/vtadmin/src/components/routes/Schemas.tsx
  web/vtadmin/src/components/routes/Tablets.tsx
  web/vtadmin/src/hooks/useSyncedURLParam.test.tsx
  web/vtadmin/src/hooks/useSyncedURLParam.ts
  web/vtadmin/src/util/filterNouns.ts
Owners: @ajm188, @doeg

[vtadmin-web] Tidy up the /gates view and show watched keyspaces
  web/vtadmin/src/components/routes/Gates.tsx
Owners: @ajm188, @doeg

[vtadmin-web] Add filter input to Gates view
  web/vtadmin/src/components/routes/Gates.module.scss
  web/vtadmin/src/components/routes/Gates.tsx
Owners: @ajm188, @doeg

[vtadmin-web] Add filter input + shard list to Workflows view
  web/vtadmin/src/components/routes/Workflows.module.scss
  web/vtadmin/src/components/routes/Workflows.tsx
Owners: @ajm188, @doeg

WIP proto type definitions, generators and stubs
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @sougou, @ajm188, @doeg

WIP rough port of tmutils.DiffSchema into VtctldServer with some more typing
  go/vt/vtctl/grpcvtctldserver/server.go
Owners: @ajm188, @doeg

Create log table. Util functions to insert logs. Insert logs in VReplicationExec and setMessage/State
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

Ignore queries related to _vt.vreplication_log in tests
  go/vt/binlog/binlogplayer/mock_dbclient.go
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/wrangler/fake_dbclient_test.go
Owners: @sougou, @rohit-nayak-ps, @deepthi

Add test for vreplication log and fix string conversion bug
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
  test/local_example.sh
Owners: @rohit-nayak-ps, @sougou

Fix test
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
Owners: @rohit-nayak-ps

Add logs for start and end of the copy phase
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

Added comments and refactored tests
  go/vt/vttablet/tabletmanager/vreplication/engine.go
  go/vt/vttablet/tabletmanager/vreplication/framework_test.go
  go/vt/vttablet/tabletmanager/vreplication/utils.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer_flaky_test.go
  test/local_example.sh
Owners: @rohit-nayak-ps, @sougou

Add license file. Minor refactor
  go/vt/vttablet/tabletmanager/vreplication/utils.go
Owners: @rohit-nayak-ps

Use withDDL for vreplication log queries
  go/vt/vttablet/tabletmanager/vreplication/utils.go
Owners: @rohit-nayak-ps

Optimize the catchup phases by filtering out out-of-range pks during inserts
  go/vt/binlog/binlogplayer/binlog_player.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan_test.go
  go/vt/vttablet/tabletmanager/vreplication/stats.go
  go/vt/vttablet/tabletmanager/vreplication/table_plan_builder.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vplayer.go
Owners: @sougou, @rohit-nayak-ps

fix failing tests
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @rohit-nayak-ps

Put the optimize insert behind an experimental flag
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

Cherry pick fixes
  go/vt/vttablet/tabletmanager/vreplication/vreplicator.go
Owners: @rohit-nayak-ps

Expect noop inserts by default since experimental flags are off
  go/vt/vttablet/tabletmanager/vreplication/replicator_plan.go
  go/vt/vttablet/tabletmanager/vreplication/vcopier_test.go
Owners: @rohit-nayak-ps

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtadmin @ajm188 @doeg
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps
