Repository tinyspeck/vitess, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sougou, @askdba, @shlomi-noach, @derekperkins, @dkhenry, @rohit-nayak-ps, @ajm188, @doeg, @harshit-gangal, @systay, @deepthi

Fix more errcheck lints
  .golangci.yml
  go/cmd/mysqlctld/mysqlctld.go
  go/cmd/vtbackup/vtbackup.go
  go/cmd/vtclient/vtclient_test.go
  go/cmd/vtctl/vtctl.go
  go/streamlog/streamlog_flaky_test.go
  go/vt/binlog/binlogplayertest/player.go
  go/vt/discovery/healthcheck_test.go
  go/vt/discovery/legacy_tablet_stats_cache_test.go
  go/vt/key/key_test.go
  go/vt/sqlparser/parse_test.go
  go/vt/srvtopo/resilient_server_test.go
  go/vt/tlstest/tlstest_test.go
  go/vt/vttablet/tabletconntest/fakequeryservice.go
  go/vt/withddl/withddl_test.go
Owners: @sougou, @deepthi, @harshit-gangal, @systay

[vttestserver] Fix errcheck violations in new tests
  go/cmd/vttestserver/vttestserver_test.go
Owners: @sougou

remove duplicate ReadMigrations, fixing build
  go/test/endtoend/onlineddl/vtgate_util.go
Owners: @shlomi-noach

Add additional tracing flags to vtadmin entrypoint
  go/cmd/vtadmin/main.go
Owners: @ajm188, @doeg

[trace] Add optional flags to support flexible jaeger configs
  go/flagutil/optional.go
  go/trace/plugin_datadog.go
  go/trace/plugin_jaeger.go
Owners: @sougou

xxx
  web/vtadmin/src/components/layout/WorkspaceSidebar.module.scss
  web/vtadmin/src/components/layout/WorkspaceSidebarHeader.module.scss
  web/vtadmin/src/components/layout/WorkspaceSidebarHeader.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamSidebar.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreamSidebar.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/layout/WorkspaceSidebar.module.scss
  web/vtadmin/src/components/layout/WorkspaceSidebarHeader.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamSidebar.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreamSidebar.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/layout/Workspace.module.scss
  web/vtadmin/src/components/layout/Workspace.tsx
  web/vtadmin/src/components/layout/WorkspaceContent.module.scss
  web/vtadmin/src/components/layout/WorkspaceContent.tsx
  web/vtadmin/src/components/layout/WorkspaceNav.module.scss
  web/vtadmin/src/components/layout/WorkspaceNav.tsx
  web/vtadmin/src/components/layout/WorkspaceSidebar.module.scss
  web/vtadmin/src/components/layout/WorkspaceSidebar.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
Owners: @ajm188, @doeg

[vtadmin-web] Add QPS and VReplicationQPS charts to Tablet view
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/charts/Timeseries.tsx
  web/vtadmin/src/components/charts/chartOptions.ts
  web/vtadmin/src/components/charts/charts.scss
  web/vtadmin/src/components/routes/tablet/Tablet.tsx
  web/vtadmin/src/components/routes/tablet/TabletCharts.module.scss
  web/vtadmin/src/components/routes/tablet/TabletCharts.tsx
  web/vtadmin/src/hooks/api.ts
  web/vtadmin/src/util/__snapshots__/tabletDebugVars.test.ts.snap
  web/vtadmin/src/util/tabletDebugVars.test.ts
  web/vtadmin/src/util/tabletDebugVars.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/routes/workflow/WorkflowStreamSidebar.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowStreamSidebar.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/links/TabletLink.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowTabletSidebar.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowTabletSidebar.tsx
Owners: @ajm188, @doeg

nits
  web/vtadmin/src/components/charts/TabletQPSChart.tsx
  web/vtadmin/src/components/charts/TabletVReplicationQPSChart.tsx
  web/vtadmin/src/components/routes/workflow/Workflow.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowTabletSidebar.module.scss
  web/vtadmin/src/components/routes/workflow/WorkflowTabletSidebar.tsx
Owners: @ajm188, @doeg

fixes
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamLagChart.tsx
  web/vtadmin/src/components/routes/stream/Stream.tsx
  web/vtadmin/src/util/workflows.ts
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamLagChart.tsx
  web/vtadmin/src/components/routes/stream/Stream.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamLagChart.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamLagChart.tsx
  web/vtadmin/src/components/routes/stream/Stream.tsx
  web/vtadmin/src/components/routes/workflow/WorkflowStreams.tsx
Owners: @ajm188, @doeg

comments
  web/vtadmin/src/components/charts/StreamLagChart.tsx
Owners: @ajm188, @doeg

no tabs
  web/vtadmin/src/components/routes/stream/Stream.tsx
  web/vtadmin/src/util/workflows.ts
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/StreamLagChart.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamLagChart.tsx
Owners: @ajm188, @doeg

ok
  web/vtadmin/src/components/charts/StreamLagChart.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamLagChart.tsx
Owners: @ajm188, @doeg

xxx
  web/vtadmin/src/components/charts/StreamLagChart.tsx
Owners: @ajm188, @doeg

renames
  web/vtadmin/src/components/charts/StreamVReplicationLagChart.tsx
  web/vtadmin/src/components/routes/stream/Stream.tsx
Owners: @ajm188, @doeg

nit
  web/vtadmin/src/components/charts/StreamVReplicationLagChart.tsx
Owners: @ajm188, @doeg

tidy
  web/vtadmin/src/components/charts/Timeseries.tsx
  web/vtadmin/src/components/charts/initializeCharts.ts
Owners: @ajm188, @doeg

[workflow] Add tracing to `GetWorkflows` endpoint
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/workflow/server.go
Owners: @ajm188, @doeg, @deepthi

Add `DeleteSrvVSchema`, `GetSrvKeyspaceNames` rpc definitions
  go/vt/proto/vtctldata/vtctldata.pb.go
  go/vt/proto/vtctldata/vtctldata_vtproto.pb.go
  go/vt/proto/vtctlservice/vtctlservice.pb.go
  go/vt/proto/vtctlservice/vtctlservice_grpc.pb.go
  go/vt/vtctl/grpcvtctldclient/client_gen.go
  go/vt/vtctl/grpcvtctldserver/server.go
  proto/vtctldata.proto
  proto/vtctlservice.proto
  web/vtadmin/src/proto/vtadmin.d.ts
  web/vtadmin/src/proto/vtadmin.js
Owners: @sougou, @ajm188, @doeg

Add CLI entrypoints for `DeleteSrvVSchemas` / `GetSrvKeyspaceNames`
  go/cmd/vtctldclient/internal/command/serving_graph.go
Owners: @ajm188, @doeg

Update vtctl commands to use VtctldServer methods
  go/vt/vtctl/vtctl.go
Owners: @ajm188, @doeg

Implement `DeleteSrvVSchema`, `GetSrvKeyspaceNames` with tests
  go/vt/vtctl/grpcvtctldserver/server.go
  go/vt/vtctl/grpcvtctldserver/server_test.go
Owners: @ajm188, @doeg

xxx
  web/vtadmin/package-lock.json
  web/vtadmin/package.json
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/errors/bugsnag.ts
  web/vtadmin/src/errors/errorHandler.ts
  web/vtadmin/src/errors/errorTypes.ts
  web/vtadmin/src/index.tsx
  web/vtadmin/src/react-app-env.d.ts
Owners: @ajm188, @doeg

shuffling
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/api/responseTypes.ts
  web/vtadmin/src/errors/errorTypes.ts
Owners: @ajm188, @doeg

fix tests
  web/vtadmin/src/api/http.test.ts
Owners: @ajm188, @doeg

update tests
  web/vtadmin/src/api/http.test.ts
  web/vtadmin/src/api/http.ts
  web/vtadmin/src/react-app-env.d.ts
Owners: @ajm188, @doeg

Manual, manual cherry pick of #8079
  go/vt/vtctl/vtctl.go
  go/vt/wrangler/vdiff.go
Owners: @ajm188, @doeg, @deepthi, @rohit-nayak-ps

I don't feel good with the tests not compiling
  go/vt/wrangler/vdiff_test.go
Owners: @deepthi, @rohit-nayak-ps

Fix bad merge
  go/vt/wrangler/vdiff.go
Owners: @deepthi, @rohit-nayak-ps

Adds padding when doing keyrange comparisons
  go/vt/key/key.go
  go/vt/key/key_test.go
  go/vt/topotools/split_test.go
Owners: @sougou

.github/CODEOWNERS:

* @sougou

/config/mycnf/ @askdba @shlomi-noach
/docker/ @derekperkins @dkhenry
/examples/compose @shlomi-noach
/examples/local @rohit-nayak-ps
/go/cmd/vtadmin @ajm188 @doeg
/go/cmd/vtctldclient @ajm188 @doeg
/go/mysql @harshit-gangal @systay
/go/test/endtoend/onlineddl @shlomi-noach
/go/test/endtoend/orchestrator @deepthi @shlomi-noach
/go/test/endtoend/vtgate @harshit-gangal @systay
/go/vt/discovery @deepthi
/go/vt/mysqlctl @deepthi
/go/vt/orchestrator @deepthi @shlomi-noach
/go/vt/proto/vtadmin @ajm188 @doeg
/go/vt/schema @shlomi-noach
/go/vt/sqlparser @harshit-gangal @systay
/go/vt/vtadmin @ajm188 @doeg
/go/vt/vtctl @deepthi
/go/vt/vtctl/vtctl.go @ajm188 @doeg
/go/vt/vtctl/grpcvtctldclient @ajm188 @doeg
/go/vt/vtctl/grpcvtctldserver @ajm188 @doeg
/go/vt/vtctl/vtctldclient @ajm188 @doeg
/go/vt/vtgate @harshit-gangal @systay
/go/vt/vttablet/tabletmanager @deepthi @shlomi-noach
/go/vt/vttablet/tabletmanager/vreplication @rohit-nayak-ps
/go/vt/vttablet/tabletmanager/vstreamer @rohit-nayak-ps
/go/vt/vttablet/tabletserver @harshit-gangal @systay @shlomi-noach
/go/vt/wrangler @deepthi @rohit-nayak-ps
/helm/ @derekperkins @dkhenry
/proto/vtadmin.proto @ajm188 @doeg
/proto/vtctldata.proto @ajm188 @doeg
/proto/vtctlservice.proto @ajm188 @doeg
/web/vtadmin @ajm188 @doeg
/web/vtctld2 @rohit-nayak-ps
